* {
    background-color: rgb(253, 253, 253);
    font-family: 'Roboto', Arial, sans-serif;
}

.header{
    display:flex;
    justify-content: center;
    margin-top: 2%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
}

.pr1  {
    padding: 15px;  
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.486);
    font-size: 40px;
}

.block_1, .block_2, .block_3, .block_4, .block_5, .block_6 {
    margin-top: 2%;
}

.imgtx  {
    position: relative;
    padding-left: 5%;
    width: 510px;
    font-size: 30px;
}

.input_value {
    font-size: 40px;
    padding: 2px 20px 2px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#text {
    margin-top: -37px;
    position: static;
    padding-left: 650px;
    font-size: 30px;
}

.button{
    position:relative;
    margin-top: 2%;
    margin-left: 12% ;
}

.buttonsend {
    font-size: 26px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.486);
    color: rgb(0, 0, 0);
    border: 2px solid rgba(2, 2, 2, 0.486);
    width: 150px;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;  
    transition-duration: 0.4s;
}

.value_block {
    display: flex;
}

.result_1 {
    margin-top: 20px;
    margin-left: 5px;
}

.tooltip_hidden {
   display: none;
}

#name-tooltip {
    position: absolute;
    top: 20%;
    left: 2%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 46px 100px 46px 100px;
    border-radius: 4px;
    font-size: 20px;
    color: #707070;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .value_block, .value_1, .result_1, .value_pr {
    background-color: #f9f9f9;
  }

  #button_result{
    font-size: 26px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.486);
    color: rgb(0, 0, 0);
    border: 2px solid rgba(2, 2, 2, 0.486);
    width: 150px;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;  
    transition-duration: 0.4s;
  }

  